.weatherApp {
  margin: 30px 30px 0px 30px;
  padding: 15px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}
.container1 {
  max-width: 900px;
}
.container2 {
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}

.container3 {
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.mainTemperature {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}
#main-emoji {
  width: 160px;
  height: 160px;
}
.units {
  position: relative;
  font-size: 16px;
  top: -16px;
}
.active {
  text-decoration: none;
  color: black;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}

#weather-conditions {
  text-align: left;
}
button {
  text-align: right;
  background-color: rgb(61, 52, 194);
  color: white;
  border: none;
  padding: 2% auto;
  transition: all 200ms ease;
}
button:hover {
  background-color: rgb(173, 219, 240);
  color: rgb(40, 40, 133);
}

.container4 {
  margin: 10px 10px 10px 10px;
  padding: 10px;
}

.weatherForecastDay {
  font-size: 16px;
  text-align: center;
  opacity: 0.7;
}
.emoji {
  text-align: center;
  width: 100px;
  height: 100px;
}
.weatherForecastTemperature {
  font-size: 12px;
  text-align: center;
  opacity: 0.7;
}
footer {
  padding: 0 auto;
  margin: 10px 30px 10px 30px;
}
